# History of Lego

In [2]:
import pandas as pd

df = pd.read_csv('lego_sets.csv')
theme = pd.read_csv('parent_themes.csv')

df.head()

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space

#### What percentage of all licensed sets ever released were star wars themed?

In [3]:
theme

      id          name  is_licensed
0      1       Technic        False
1     22       Creator        False
2     50          Town        False
3    112        Racers        False
4    126         Space        False
..   ...           ...          ...
106  605  Nexo Knights        False
107  606   Angry Birds         True
108  607  Ghostbusters         True
109  608        Disney         True
110  610    Brickheadz        False

[111 rows x 3 columns]

In [4]:
merged = df.merge(theme, left_on = 'parent_theme', right_on = 'name')
merged.drop(columns = 'name_y', inplace = True)
merged

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,411,False
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town,50,False
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle,186,False
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space,126,False
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space,126,False
...,...,...,...,...,...,...,...,...
11981,NaN,NaN,2014,NaN,NaN,Minecraft,577,True
11982,NaN,NaN,2006,NaN,NaN,Super Heroes,482,True
11983,NaN,NaN,2017,NaN,NaN,Minecraft,577,True
11984,NaN,NaN,2017,8.0,NaN,Super Heroes,482,True
11985,NaN,NaN,2003,NaN,NaN,Harry Potter,246,True

In [5]:
licensed = merged[merged['is_licensed']]
licensed = licensed.dropna(subset = ['set_num'])
licensed

star_wars = licensed[licensed['parent_theme'] == 'Star Wars']
star_wars.head()

#tipo = licensed['parent_theme'].str.startswith('Star Wars').sum()
#tipa = len(licensed)

the_force = int((star_wars.shape[0]/licensed.shape[0])*100)
print(the_force)

51

#### In which year was Star Wars not the most popular licensed theme (in terms of number of sets released that year)?

In [6]:
licensed[licensed['parent_theme'] != 'Star Wars']

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
95,10075-1,Spider-Man Action Pack,2002,25.0,Spider-Man,Super Heroes,482,True
123,10132-1,Motorized Hogwarts Express,2004,NaN,Harry Potter,Harry Potter,246,True
198,10217-1,Diagon Alley,2011,2031.0,Harry Potter,Harry Potter,246,True
218,10237-1,The Tower of Orthanc,2013,NaN,The Two Towers,The Hobbit and Lord of the Rings,561,True
290,10542-1,Sleeping Beauty's Fairy Tale,2014,55.0,Disney Princess,Disney Princess,579,True
...,...,...,...,...,...,...,...,...
11739,SDCC2015-1,Throne of Ultron,2015,196.0,Avengers,Super Heroes,482,True
11741,SDCC2015-3,Action Comics #1 Superman,2015,145.0,Superman,Super Heroes,482,True
11783,TRU01-1,Harry Potter Quidditch Tower (TRU Event Exclus...,2002,37.0,Harry Potter,Harry Potter,246,True
11784,TRUBATSIGNAL-1,Batman Bat-Signal,2014,NaN,Batman,Super Heroes,482,True
11791,TRUJOKERMECH-1,The Joker Mini Mech Bot,2013,42.0,Batman,Super Heroes,482,True

In [7]:
# i will need to have like a graphic show or count the most popular item based on number of times they appear at that year and drop everything else that comes later the same year

licensed_sorted = licensed.sort_values('year')
licensed_sorted['count'] = 1

summed_df = licensed_sorted.groupby(['year', 'parent_theme']).sum().reset_index()
summed_df.drop(['set_num', 'name_x'], axis=1, inplace=True)

max_df = summed_df.sort_values('count', ascending = False).drop_duplicates(['year'])
max_df.sort_values('count', inplace = True)
max_df

,year,parent_theme,num_parts,theme_name,id,is_licensed,count
20,2006,Star Wars,2769.0,Star Wars Episode 3Star Wars Episode 4/5/6Star...,1738,11,11
0,1999,Star Wars,1384.0,Star Wars Episode 1Star Wars Episode 4/5/6Star...,2054,13,13
4,2001,Star Wars,2949.0,Star Wars Episode 4/5/6Star WarsStar Wars Epis...,2212,14,14
24,2007,Star Wars,11361.0,Star Wars Episode 4/5/6Star Wars OtherStar War...,2528,16,16
12,2004,Star Wars,1659.0,Star Wars Episode 4/5/6Star Wars Episode 4/5/6...,3160,20,20
28,2008,Star Wars,6865.0,Star Wars Episode 3Star Wars Episode 3Star War...,3634,23,23
2,2000,Star Wars,2580.0,Star Wars Episode 4/5/6Star Wars Episode 4/5/6...,4108,26,26
6,2002,Star Wars,4735.0,Star Wars Episode 4/5/6Star Wars Episode 2Star...,4424,28,28
16,2005,Star Wars,4730.0,Star Wars Episode 3MiniStar Wars Episode 3Mini...,4424,28,28
36,2010,Star Wars,6003.0,Star Wars Clone WarsStar Wars Episode 4/5/6Sta...,4740,30,30
9,2003,Star Wars,6660.0,Star WarsStar Wars Episode 4/5/6Star Wars Epis...,5056,32,32
42,2011,Star Wars,3451.0,Star Wars Episode 1Star Wars Episode 4/5/6Star...,5056,32,32
52,2013,Star Wars,6159.0,Star WarsStar WarsStar Wars Episode 4/5/6Star ...,5530,35,35
32,2009,Star Wars,3953.0,Star Wars Clone WarsStar Wars Clone WarsStar W...,6162,39,39
47,2012,Star Wars,6769.0,Star Wars Episode 4/5/6Star Wars Episode 4/5/6...,6794,43,43
59,2014,Star Wars,8293.0,Star Wars OtherMiniStar WarsStar WarsStar Wars...,7110,45,45
67,2015,Star Wars,11410.0,Star WarsStar Wars Episode 4/5/6MiniStar Wars ...,9164,58,58
76,2016,Star Wars,6934.0,Star Wars RebelsStar Wars Episode 7Star Wars R...,9638,61,61
82,2017,Super Heroes,13123.0,BatmanBatmanBatmanSuper HeroesSuper HeroesBatm...,34704,72,72

In [8]:
max_df[max_df['parent_theme'] != 'Star Wars']['year']

#want to have just the year column
new_era = int(max_df[max_df['parent_theme'] != 'Star Wars']['year'])

/var/folders/8_/vymgqhsx4bs4jk73k02625140000gn/T/ipykernel_56395/26495489.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  new_era = int(max_df[max_df['parent_theme'] != 'Star Wars']['year'])

In [9]:
new_era

2017

In [10]:
new_era = 2017

#### How many unique sets were released each year (1955 - 2017)?

In [46]:
# breaking down the number of sets released each year

merged.sort_values('year', ascending = True)

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
7045,700.1.1-1,Individual 2 x 4 Bricks,1950,10.0,Supplemental,Classic,365,False
7064,700.A-1,Automatic Binding Bricks Small Brick Set (Lego...,1950,NaN,Basic Set,Classic,365,False
7066,700.B.1-1,Individual 1 x 4 x 2 Window (without glass),1950,NaN,Supplemental,Classic,365,False
7067,700.B.2-1,Individual 1 x 2 x 3 Window (without glass),1950,NaN,Supplemental,Classic,365,False
7048,700.1.2-1,Individual 2 x 2 Bricks,1950,9.0,Supplemental,Classic,365,False
...,...,...,...,...,...,...,...,...
8477,75879-1,Scuderia Ferrari SF16-H,2017,184.0,Speed Champions,Speed Champions,601,False
8476,75878-1,Bugatti Chiron,2017,181.0,Speed Champions,Speed Champions,601,False
8475,75877-1,Mercedes-AMG GT3,2017,NaN,Speed Champions,Speed Champions,601,False
512,10855-1,Cinderella s Magical Castle,2017,NaN,Duplo,Duplo,504,False
7292,70621-1,The Vermillion Attack,2017,83.0,Ninjago,Ninjago,435,False

In [60]:
# understanding the unique type sets returing all the unique ones with counting
clean_df = merged[~merged['set_num'].isnull()]
clean_df

clean_df['count'] = 1
clean_df.sort_values('year', ascending = True)

/var/folders/8_/vymgqhsx4bs4jk73k02625140000gn/T/ipykernel_56395/1657293327.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df['count'] = 1

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed,count
7069,700.B.4-1,Individual 1 x 2 x 4 Door (without glass),1950,7.0,Supplemental,Classic,365,False,1
7064,700.A-1,Automatic Binding Bricks Small Brick Set (Lego...,1950,NaN,Basic Set,Classic,365,False,1
7066,700.B.1-1,Individual 1 x 4 x 2 Window (without glass),1950,NaN,Supplemental,Classic,365,False,1
7067,700.B.2-1,Individual 1 x 2 x 3 Window (without glass),1950,NaN,Supplemental,Classic,365,False,1
7068,700.B.3-1,Individual 1 x 2 x 2 Window (without glass),1950,NaN,Supplemental,Classic,365,False,1
...,...,...,...,...,...,...,...,...,...
3606,41188-1,Breakout from the Goblin King's Fortress,2017,694.0,Elves,Elves,600,False,1
7706,71018-13,Rocket Boy,2017,NaN,Series 17 Minifigures,Collectible Minifigures,535,False,1
3605,41187-1,Rosalyn's Healing Hideout,2017,457.0,Elves,Elves,600,False,1
3648,41308-1,Stephanie's Friendship Cakes,2017,NaN,Friends,Friends,494,False,1
428,10737-1,Batman vs. Mr. Freeze,2017,NaN,Juniors,Juniors,591,False,1

In [64]:
# now we can break it down to how many uniques were released each year

unique = clean_df.groupby(['year']).sum().reset_index()
unique

set_per_year = unique.groupby(['year']).sum().reset_index()[['year', 'count']]
set_per_year

for index, row in set_per_year.iterrows():
    print(row['year'], row['count'])

1950 7
1953 4
1954 14
1955 28
1956 12
1957 21
1958 42
1959 4
1960 3
1961 17
1962 40
1963 18
1964 11
1965 10
1966 89
1967 21
1968 25
1969 69
1970 29
1971 45
1972 38
1973 68
1974 39
1975 31
1976 68
1977 92
1978 73
1979 82
1980 88
1981 79
1982 76
1983 57
1984 76
1985 139
1986 123
1987 209
1988 68
1989 114
1990 85
1991 106
1992 115
1993 111
1994 128
1995 128
1996 144
1997 194
1998 325
1999 300
2000 327
2001 339
2002 447
2003 415
2004 371
2005 330
2006 283
2007 319
2008 349
2009 403
2010 444
2011 502
2012 615
2013 593
2014 715
2015 670
2016 608
2017 438