# History of Lego

In [ ]:
import pandas as pd

df = pd.read_csv('lego_sets.csv')
theme = pd.read_csv('parent_themes.csv')

df.head()

#### What percentage of all licensed sets ever released were star wars themed?

In [ ]:
theme

In [ ]:
merged = df.merge(theme, left_on = 'parent_theme', right_on = 'name')
merged.drop(columns = 'name_y', inplace = True)
merged

In [139]:
licensed = merged[merged['is_licensed']]
licensed = licensed.dropna(subset = ['set_num'])
licensed

star_wars = licensed[licensed['parent_theme'] == 'Star Wars']
star_wars.head()

#tipo = licensed['parent_theme'].str.startswith('Star Wars').sum()
#tipa = len(licensed)

the_force = int((star_wars.shape[0]/licensed.shape[0])*100)
print(the_force)

51

#### In which year was Star Wars not the most popular licensed theme (in terms of number of sets released that year)?

In [140]:
licensed[licensed['parent_theme'] != 'Star Wars']

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
95,10075-1,Spider-Man Action Pack,2002,25.0,Spider-Man,Super Heroes,482,True
123,10132-1,Motorized Hogwarts Express,2004,NaN,Harry Potter,Harry Potter,246,True
198,10217-1,Diagon Alley,2011,2031.0,Harry Potter,Harry Potter,246,True
218,10237-1,The Tower of Orthanc,2013,NaN,The Two Towers,The Hobbit and Lord of the Rings,561,True
290,10542-1,Sleeping Beauty's Fairy Tale,2014,55.0,Disney Princess,Disney Princess,579,True
...,...,...,...,...,...,...,...,...
11739,SDCC2015-1,Throne of Ultron,2015,196.0,Avengers,Super Heroes,482,True
11741,SDCC2015-3,Action Comics #1 Superman,2015,145.0,Superman,Super Heroes,482,True
11783,TRU01-1,Harry Potter Quidditch Tower (TRU Event Exclus...,2002,37.0,Harry Potter,Harry Potter,246,True
11784,TRUBATSIGNAL-1,Batman Bat-Signal,2014,NaN,Batman,Super Heroes,482,True
11791,TRUJOKERMECH-1,The Joker Mini Mech Bot,2013,42.0,Batman,Super Heroes,482,True

In [141]:
# i will need to have like a graphic show or count the most popular item based on number of times they appear at that year and drop everything else that comes later the same year

licensed_sorted = licensed.sort_values('year')
licensed_sorted['count'] = 1

summed_df = licensed_sorted.groupby(['year', 'parent_theme']).sum().reset_index()
summed_df.drop(['set_num', 'name_x'], axis=1, inplace=True)

max_df = summed_df.sort_values('count', ascending = False).drop_duplicates(['year'])
max_df.sort_values('count', inplace = True)
max_df

,year,parent_theme,num_parts,theme_name,id,is_licensed,count
20,2006,Star Wars,2769.0,Star Wars Episode 3Star Wars Episode 4/5/6Star...,1738,11,11
0,1999,Star Wars,1384.0,Star Wars Episode 4/5/6Star Wars Episode 1Star...,2054,13,13
4,2001,Star Wars,2949.0,Star WarsStar Wars Episode 4/5/6Star Wars Epis...,2212,14,14
24,2007,Star Wars,11361.0,Star Wars Episode 1Star Wars Episode 3Star War...,2528,16,16
12,2004,Star Wars,1659.0,Star Wars Episode 4/5/6Star Wars Episode 4/5/6...,3160,20,20
28,2008,Star Wars,6865.0,Star Wars Episode 4/5/6Star Wars Episode 3Star...,3634,23,23
2,2000,Star Wars,2580.0,Star WarsStar WarsStar Wars Episode 1Star Wars...,4108,26,26
16,2005,Star Wars,4730.0,Star Wars Episode 3Star Wars Episode 3Star War...,4424,28,28
6,2002,Star Wars,4735.0,Star Wars Episode 4/5/6Star Wars Episode 2Star...,4424,28,28
36,2010,Star Wars,6003.0,Star Wars Episode 4/5/6Star WarsStar Wars Clon...,4740,30,30
9,2003,Star Wars,6660.0,Star Wars Episode 4/5/6Star Wars Episode 2Star...,5056,32,32
42,2011,Star Wars,3451.0,Star Wars Episode 4/5/6Star WarsStar Wars Clon...,5056,32,32
52,2013,Star Wars,6159.0,Star Wars Episode 4/5/6Star WarsStar WarsStar ...,5530,35,35
32,2009,Star Wars,3953.0,Star Wars Episode 2Star Wars Episode 3Star War...,6162,39,39
47,2012,Star Wars,6769.0,Star Wars Episode 3Star Wars Episode 1Star War...,6794,43,43
59,2014,Star Wars,8293.0,Star Wars Clone WarsMiniMiniStar Wars RebelsSt...,7110,45,45
67,2015,Star Wars,11410.0,Star Wars RebelsStar WarsStar WarsStar Wars Ep...,9164,58,58
76,2016,Star Wars,6934.0,Star WarsStar Wars Episode 4/5/6Star WarsStar ...,9638,61,61
82,2017,Super Heroes,13123.0,MarvelSuper HeroesBatmanBatmanBatmanSuper Hero...,34704,72,72

In [142]:
max_df[max_df['parent_theme'] != 'Star Wars']['year']

#want to have just the year column
new_era = int(max_df[max_df['parent_theme'] != 'Star Wars']['year'])

/var/folders/8_/vymgqhsx4bs4jk73k02625140000gn/T/ipykernel_15412/26495489.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  new_era = int(max_df[max_df['parent_theme'] != 'Star Wars']['year'])

In [143]:
new_era

2017

In [144]:
new_era = 2017

#### How many unique sets were released each year (1955 - 2017)?

In [145]:
# breaking down the number of sets released each year

merged.sort_values('year', ascending = True)

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
7064,700.A-1,Automatic Binding Bricks Small Brick Set (Lego...,1950,NaN,Basic Set,Classic,365,False
7045,700.1.1-1,Individual 2 x 4 Bricks,1950,10.0,Supplemental,Classic,365,False
7069,700.B.4-1,Individual 1 x 2 x 4 Door (without glass),1950,7.0,Supplemental,Classic,365,False
7068,700.B.3-1,Individual 1 x 2 x 2 Window (without glass),1950,NaN,Supplemental,Classic,365,False
7048,700.1.2-1,Individual 2 x 2 Bricks,1950,9.0,Supplemental,Classic,365,False
...,...,...,...,...,...,...,...,...
2382,31064-1,Seaplane Adventures,2017,NaN,Creator,Creator,22,False
2383,31065-1,Park Street Townhouse,2017,565.0,Creator,Creator,22,False
2384,31066-1,Space Shuttle Explorer,2017,NaN,Creator,Creator,22,False
11942,NaN,NaN,2017,NaN,NaN,Minecraft,577,True
11950,NaN,NaN,2017,563.0,NaN,Super Heroes,482,True

In [146]:
# understanding the unique type sets returing all the unique ones with counting
clean_df = merged[~merged['set_num'].isnull()]
clean_df

clean_df['count'] = 1
clean_df.sort_values('year', ascending = True)

/var/folders/8_/vymgqhsx4bs4jk73k02625140000gn/T/ipykernel_15412/1657293327.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df['count'] = 1

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed,count
7069,700.B.4-1,Individual 1 x 2 x 4 Door (without glass),1950,7.0,Supplemental,Classic,365,False,1
7068,700.B.3-1,Individual 1 x 2 x 2 Window (without glass),1950,NaN,Supplemental,Classic,365,False,1
7067,700.B.2-1,Individual 1 x 2 x 3 Window (without glass),1950,NaN,Supplemental,Classic,365,False,1
7066,700.B.1-1,Individual 1 x 4 x 2 Window (without glass),1950,NaN,Supplemental,Classic,365,False,1
7048,700.1.2-1,Individual 2 x 2 Bricks,1950,9.0,Supplemental,Classic,365,False,1
...,...,...,...,...,...,...,...,...,...
3641,41301-1,Puppy Parade,2017,NaN,Friends,Friends,494,False,1
3668,41326-1,Friends Advent Calendar,2017,NaN,Friends,Seasonal,206,False,1
3667,41325-1,Heartlake City Playground,2017,325.0,Friends,Friends,494,False,1
3666,41324-1,Snow Resort Ski Lift,2017,584.0,Friends,Friends,494,False,1
3665,41323-1,Snow Resort Chalet,2017,NaN,Friends,Friends,494,False,1

In [147]:
# now we can break it down to how many uniques were released each year

unique = clean_df.groupby(['year']).sum().reset_index()
unique

set_per_year = unique.groupby(['year']).sum().reset_index()[['year', 'count']]
set_per_year

for index, row in set_per_year.iterrows():
    print(row['year'], row['count'])

1950 7
1953 4
1954 14
1955 28
1956 12
1957 21
1958 42
1959 4
1960 3
1961 17
1962 40
1963 18
1964 11
1965 10
1966 89
1967 21
1968 25
1969 69
1970 29
1971 45
1972 38
1973 68
1974 39
1975 31
1976 68
1977 92
1978 73
1979 82
1980 88
1981 79
1982 76
1983 57
1984 76
1985 139
1986 123
1987 209
1988 68
1989 114
1990 85
1991 106
1992 115
1993 111
1994 128
1995 128
1996 144
1997 194
1998 325
1999 300
2000 327
2001 339
2002 447
2003 415
2004 371
2005 330
2006 283
2007 319
2008 349
2009 403
2010 444
2011 502
2012 615
2013 593
2014 715
2015 670
2016 608
2017 438

#### Importing libraries

In [148]:
import pandas as pd
import numpy as np

#### getting data

In [149]:
sets = pd.read_csv('sets 2.csv')
themes = pd.read_csv('themes 2.csv')
colors = pd.read_csv('colors.csv')
inventory = pd.read_csv('inventory_parts.csv')

In [150]:
sets

,set_num,name,year,theme_id,num_parts,img_url
0,0003977811-1,Ninjago: Book of Adventures,2022,761,1,https://cdn.rebrickable.com/media/sets/0003977...
1,001-1,Gears,1965,756,43,https://cdn.rebrickable.com/media/sets/001-1.jpg
2,0011-2,Town Mini-Figures,1979,67,12,https://cdn.rebrickable.com/media/sets/0011-2.jpg
3,0011-3,Castle 2 for 1 Bonus Offer,1987,199,0,https://cdn.rebrickable.com/media/sets/0011-3.jpg
4,0012-1,Space Mini-Figures,1979,143,12,https://cdn.rebrickable.com/media/sets/0012-1.jpg
...,...,...,...,...,...,...
25278,YODACHRON-1,Yoda Chronicles Promotional Set,2013,158,413,https://cdn.rebrickable.com/media/sets/yodachr...
25279,YOTO-1,"1, 2, 3 Play with Me YOTO Cards",2021,501,0,https://cdn.rebrickable.com/media/sets/yoto-1.jpg
25280,YOTO-2,A is for Alphabet,2021,501,0,https://cdn.rebrickable.com/media/sets/yoto-2.jpg
25281,YTERRIER-1,Yorkshire Terrier,2018,598,0,https://cdn.rebrickable.com/media/sets/yterrie...
25282,ZX8000-1,ZX 8000 LEGO Sneaker,2020,501,0,https://cdn.rebrickable.com/media/sets/zx8000-...

In [151]:
themes

      id                      name  parent_id
0      1                   Technic        NaN
1      3               Competition        1.0
2      4            Expert Builder        1.0
3     16                RoboRiders        1.0
4     17            Speed Slammers        1.0
..   ...                       ...        ...
474  778          VIP Add-On Packs      598.0
475  779  Chinese (Lunar) New Year      206.0
476  780                    Disney      207.0
477  781         The Infinity Saga      696.0
478  782           Captain America      696.0

[479 rows x 3 columns]

#### displaying top 10 rows of the sets dataset

In [152]:
sets.head(10)

,set_num,name,year,theme_id,num_parts,img_url
0,0003977811-1,Ninjago: Book of Adventures,2022,761,1,https://cdn.rebrickable.com/media/sets/0003977...
1,001-1,Gears,1965,756,43,https://cdn.rebrickable.com/media/sets/001-1.jpg
2,0011-2,Town Mini-Figures,1979,67,12,https://cdn.rebrickable.com/media/sets/0011-2.jpg
3,0011-3,Castle 2 for 1 Bonus Offer,1987,199,0,https://cdn.rebrickable.com/media/sets/0011-3.jpg
4,0012-1,Space Mini-Figures,1979,143,12,https://cdn.rebrickable.com/media/sets/0012-1.jpg
5,0013-1,Space Mini-Figures,1979,143,12,https://cdn.rebrickable.com/media/sets/0013-1.jpg
6,0014-1,Space Mini-Figures,1979,143,2,https://cdn.rebrickable.com/media/sets/0014-1.jpg
7,0015-1,Space Mini-Figures,1979,143,18,https://cdn.rebrickable.com/media/sets/0015-1.jpg
8,0016-1,Castle Mini Figures,1979,189,15,https://cdn.rebrickable.com/media/sets/0016-1.jpg
9,002-1,4.5V Samsonite Gears Motor Set,1965,756,3,https://cdn.rebrickable.com/media/sets/002-1.jpg

#### check the data type

In [153]:
sets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25283 entries, 0 to 25282
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   set_num    25283 non-null  object
 1   name       25283 non-null  object
 2   year       25283 non-null  int64
 3   theme_id   25283 non-null  int64
 4   num_parts  25283 non-null  int64
 5   img_url    25283 non-null  object
dtypes: int64(3), object(3)
memory usage: 1.2+ MB

#### check for NULL values

In [154]:
sets.isnull().sum()

set_num      0
name         0
year         0
theme_id     0
num_parts    0
img_url      0
dtype: int64

In [155]:
themes.isnull().sum()

id             0
name           0
parent_id    147
dtype: int64

## MERGE DATA

#### join the two datasets to answer questions

In [156]:
sets_themes = pd.merge(sets, themes, how = 'left', left_on = 'theme_id', right_on = 'id', suffixes = ('_sets', '_themes'))
sets_themes.drop(columns = 'img_url', inplace = True)

In [157]:
sets_themes

,set_num,name_sets,year,theme_id,num_parts,id,name_themes,parent_id
0,0003977811-1,Ninjago: Book of Adventures,2022,761,1,761,Activity Books with LEGO Parts,497.0
1,001-1,Gears,1965,756,43,756,Samsonite,365.0
2,0011-2,Town Mini-Figures,1979,67,12,67,Classic Town,50.0
3,0011-3,Castle 2 for 1 Bonus Offer,1987,199,0,199,Lion Knights,186.0
4,0012-1,Space Mini-Figures,1979,143,12,143,Supplemental,126.0
...,...,...,...,...,...,...,...,...
25278,YODACHRON-1,Yoda Chronicles Promotional Set,2013,158,413,158,Star Wars,NaN
25279,YOTO-1,"1, 2, 3 Play with Me YOTO Cards",2021,501,0,501,Gear,NaN
25280,YOTO-2,A is for Alphabet,2021,501,0,501,Gear,NaN
25281,YTERRIER-1,Yorkshire Terrier,2018,598,0,598,Promotional,NaN
25282,ZX8000-1,ZX 8000 LEGO Sneaker,2020,501,0,501,Gear,NaN

## Answering questions

#### What is the total number of parts per theme

In [158]:
parts_per_theme = sets_themes.groupby('name_themes').sum().reset_index()[['name_themes','name_sets','num_parts']]
parts_per_theme = parts_per_theme.sort_values('num_parts', ascending = False)

In [159]:
parts_per_theme

,name_themes,name_sets,num_parts
345,Technic,Chain LinksBulldozer Chain LinksExtra Large Ti...,292476
329,Star Wars,Clone Turbo TankRepublic Attack CruiserAT-TE W...,273922
132,Friends,Stephanie's Horse CarriageEmma's Ice Cream Tru...,156938
232,Ninjago,Snake ShowdownLost TempleShark AttackZane's Ni...,150153
164,Icons,The Majestic HorseHaunted HouseECTO-1Colosseum...,133830
...,...,...,...
253,Posters and Art Prints,Star Wars PosterCity PosterR2-D2 PosterLord of...,0
251,Plush Toys,Z-Blob PlushBunchu PlushClassic Space Astronau...,0
272,Role Play Toys and Costumes,Batman CostumeMinifigure CostumeMinifigure Mas...,0
27,Bag and Luggage Tags,The LEGO Movie 2: Batman Plush ClipThe LEGO Mo...,0
28,"Bags, Totes, & Luggage",Ninjago Lloyd BackpackNexo Knights BackpackFri...,0

#### what is the total number of parts per year

In [160]:
parts_per_year = sets_themes.groupby('year').sum().reset_index()[['year','name_sets','num_parts']]
parts_per_year = parts_per_year.sort_values('num_parts', ascending = False)

In [161]:
parts_per_year

    year                                          name_sets  num_parts
73  2024  Ninjago Dragon Power WalletNinjago Family Wall...     337196
72  2023  The Majestic HorseMermaid Junior BackpackNavy ...     301353
71  2022  Ninjago: Book of AdventuresNinjago Prime Empir...     282162
70  2021  Friends BackpackNinjago Green Lloyd Junior Bac...     265569
69  2020  Friends Juice Bar Shoulder BagFriends Pink Gym...     212478
..   ...                                                ...        ...
3   1954  Individual 2 x 8 BricksIndividual 2 x 10 Brick...        117
8   1959  LEGO Town Plan Board, Continental European Car...         57
2   1953  Extra-Large Gift Set (Mursten)Individual 1 x 2...         50
1   1950  Single 2 x 4 Brick (ABB)Single 2 x 2 Brick (AB...          6
75  2026  Minecraft: Wither QuestMinecraft: The End Adve...          0

[76 rows x 3 columns]

#### how many sets were created in each century in the dataset

In [162]:
years = sets_themes['year'].unique()
years.sort()
years

array([1949, 1950, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961,
       1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972,
       1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983,
       1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994,
       1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005,
       2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016,
       2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025, 2026])

In [163]:
sets_themes['century'] = np.where(sets_themes['year'] < 2001, '20th Century', '21st Century')

In [164]:
# for this question, we are counting the total number of sets, and not the sum of parts
sets_per_century = sets_themes.groupby('century').count().reset_index()

In [165]:
sets_per_century[['century', 'set_num']]

        century  set_num
0  20th Century     5113
1  21st Century    20170

#### what percentage of sets of sets ever released in the 21st century were train themed?

In [166]:
century21 = sets_per_century['set_num'][1]
century21

np.int64(20170)

In [167]:
trains = sets_themes[sets_themes['name_themes'].str.contains('Train')]
trains.shape[0]

183

In [168]:
print((trains.shape[0]/century21)*100)

0.9072880515617254

#### what percentage of sets of sets ever released in the 21st century were Disney themed?

In [169]:
disney = sets_themes[sets_themes['name_themes'].str.contains('Disney')]
disney.shape[0]

256

In [170]:
print((disney.shape[0]/century21)*100)

1.2692117005453645

In [171]:
sets_themes

,set_num,name_sets,year,theme_id,num_parts,id,name_themes,parent_id,century
0,0003977811-1,Ninjago: Book of Adventures,2022,761,1,761,Activity Books with LEGO Parts,497.0,21st Century
1,001-1,Gears,1965,756,43,756,Samsonite,365.0,20th Century
2,0011-2,Town Mini-Figures,1979,67,12,67,Classic Town,50.0,20th Century
3,0011-3,Castle 2 for 1 Bonus Offer,1987,199,0,199,Lion Knights,186.0,20th Century
4,0012-1,Space Mini-Figures,1979,143,12,143,Supplemental,126.0,20th Century
...,...,...,...,...,...,...,...,...,...
25278,YODACHRON-1,Yoda Chronicles Promotional Set,2013,158,413,158,Star Wars,NaN,21st Century
25279,YOTO-1,"1, 2, 3 Play with Me YOTO Cards",2021,501,0,501,Gear,NaN,21st Century
25280,YOTO-2,A is for Alphabet,2021,501,0,501,Gear,NaN,21st Century
25281,YTERRIER-1,Yorkshire Terrier,2018,598,0,598,Promotional,NaN,21st Century
25282,ZX8000-1,ZX 8000 LEGO Sneaker,2020,501,0,501,Gear,NaN,21st Century

#### what is the most popular theme by year in terms of sets released in the 21st century

In [172]:
table = sets_themes[sets_themes['century'].str.contains('21st')]
table['count'] = 1

/var/folders/8_/vymgqhsx4bs4jk73k02625140000gn/T/ipykernel_15412/2413229605.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table['count'] = 1

In [173]:
popular_theme_per_year = table.groupby(['year','name_themes']).count().reset_index()
popular_theme_per_year = popular_theme_per_year[['name_themes', 'year','set_num']].sort_values('set_num', ascending = False)
popular_theme_per_year.drop_duplicates('year').sort_values('year', ascending = False)

                         name_themes  year  set_num
2096  Activity Books with LEGO Parts  2026        1
2080  Stationery and Office Supplies  2025       57
1914          Bags, Totes, & Luggage  2024       79
1815          Bags, Totes, & Luggage  2023       59
1722          Bags, Totes, & Luggage  2022      128
1657                            Gear  2021      102
1531          Bags, Totes, & Luggage  2020       68
1515               The LEGO Movie II  2019       64
1344          Bags, Totes, & Luggage  2018       69
1251          Bags, Totes, & Luggage  2017       66
1228                       Star Wars  2016       63
1121                       Star Wars  2015       69
1022                         Technic  2014      118
919                        Star Wars  2013       42
799                          Ninjago  2012       47
715                          Ninjago  2011       43
627                        Key Chain  2010       44
577                        Star Wars  2009       35
452                         Bionicle  2008       39
409                        Key Chain  2007       37
318                         Bionicle  2006       56
251                         Bionicle  2005       38
190                         Bionicle  2004       51
124                         Bionicle  2003       63
109                          Technic  2002       64
7                           Bionicle  2001       45

#### what is the most produced colour of lego ever, in terms of quantity produced?

In [174]:
colours = pd.read_csv('colors.csv')
inventory = pd.read_csv('inventory_parts.csv')
inventory.drop(columns = 'img_url', inplace = True)

In [175]:
inventory

         inventory_id        part_num  color_id  quantity  is_spare
0                   1        48379c04        72         1     False
1                   1           48391         0         1     False
2                   1           48395         7         1     False
3                   1        48864c01        25         1     False
4                   1  stickerupn0077      9999         1     False
...               ...             ...       ...       ...       ...
1383679        283236           99780         4         2     False
1383680        283236           99780        72         1     False
1383681        283236           99781         4         2     False
1383682        283236           99781        14         2     False
1383683        283236           99781         0         3     False

[1383684 rows x 5 columns]

In [176]:
colours

,id,name,rgb,is_trans,num_parts,num_sets,y1,y2
0,-1,[Unknown],0033B2,False,17,2,2000.0,2000.0
1,0,Black,05131D,False,753936,209304,1957.0,2025.0
2,1,Blue,0055BF,False,194459,46955,1949.0,2025.0
3,2,Green,237841,False,81622,24289,1949.0,2025.0
4,3,Dark Turquoise,008F9B,False,20450,5360,1998.0,2025.0
...,...,...,...,...,...,...,...,...
268,1142,Dark Olive Green,5d5c36,False,11,2,2000.0,2001.0
269,1143,Glitter Milky White,FFFFFF,False,4,4,1999.0,2005.0
270,1144,Chrome Red,CE3021,False,4,4,2003.0,2009.0
271,1145,Ochre Yellow,DD9E47,False,0,0,NaN,NaN
272,9999,[No Color/Any Color],05131D,False,9289,9067,1955.0,2025.0

In [183]:
inventory_colours = pd.merge(inventory, colours, how = 'left', left_on = 'color_id', right_on = 'id')
inventory_colours

,inventory_id,part_num,color_id,quantity,is_spare,id,name,rgb,is_trans,num_parts,num_sets,y1,y2
0,1,48379c04,72,1,False,72,Dark Bluish Gray,6C6E68,False,334395,93600,1999.0,2025.0
1,1,48391,0,1,False,0,Black,05131D,False,753936,209304,1957.0,2025.0
2,1,48395,7,1,False,7,Light Gray,9BA19D,False,92777,25139,1954.0,2006.0
3,1,48864c01,25,1,False,25,Orange,FE8A18,False,48996,16061,1997.0,2025.0
4,1,stickerupn0077,9999,1,False,9999,[No Color/Any Color],05131D,False,9289,9067,1955.0,2025.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1383679,283236,99780,4,2,False,4,Red,C91A09,False,297429,88597,1949.0,2025.0
1383680,283236,99780,72,1,False,72,Dark Bluish Gray,6C6E68,False,334395,93600,1999.0,2025.0
1383681,283236,99781,4,2,False,4,Red,C91A09,False,297429,88597,1949.0,2025.0
1383682,283236,99781,14,2,False,14,Yellow,F2CD37,False,201239,67042,1949.0,2025.0
1383683,283236,99781,0,3,False,0,Black,05131D,False,753936,209304,1957.0,2025.0

In [184]:
list_colours = inventory_colours.groupby('name').sum().reset_index()[['name', 'quantity']]
list_colours = list_colours.sort_values('quantity', ascending = False)

list_colours.head(10)

                  name  quantity
1                Black    856265
101  Light Bluish Gray    533581
255              White    514422
26    Dark Bluish Gray    380904
194                Red    327422
2                 Blue    216478
256             Yellow    216375
213                Tan    189433
195      Reddish Brown    167834
103         Light Gray    105270